body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px; /* Adjust max-width as needed */
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px; /* Adjust padding for smaller text boxes */
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button-large {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Larger font size for mobile */
}

.button-large:hover {
    background-color: #0056b3;
}

.input-section {
    margin-top: 20px;
}

.input-section label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.input-section input[type="number"], .input-section input[type="text"] {
    display: block;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.summary-section {
    margin-top: 20px;
}

.summary-section p {
    font-size: 1.1em;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    th, td {
        padding: 6px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .button-large {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .input-section input[type="number"], .input-section input[type="text"] {
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .input-section label {
        margin-top: 15px;
    }

    .summary-section {
        margin-top: 30px;
    }
}
